html {
    box-sizing: border-box;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

:root {
    --header: #f9f8f8;
    --navfont: #444444;
    --border: #e8e8e8;
    --main: #f5f4f4;
    --icons: #aaaaaa;
    --pagebtnsel: #ca5c3c;
    --pagebtnwht: #f3f2f2;
    --pagebtnborder: #eeeeee;

}
body {
    min-height: 100vh;
    background-color: #a4a4a4;
    margin: 0;
}

.navbar {
    overflow: hidden;
    margin-top: 0;
    background-color: #ffffff;
    
}

.navbar a{
    
    text-align: center;
    padding: 10px 10px;
    margin-left: 40px;


}
/*
.nav-bar::after {
    content: "";
    top: 5%;
    border: solid 1px #808080;
    position: absolute;
    transform: translateY(95%);
}*/

.social-icons {
    float: right;
    right: 5%;
}