html {
    box-sizing: border-box;
}

*,
*::before
*::after{
    box-sizing: inherit;
}

:root {
    --header: #f8f8f8f8;
    --navfont: #444444;
    --border: #e8e8e8;
    --main: #f4f4f4f4;
    --icons: #aaaaaa;
    --pagebtnsel: #ca5c3c;
    --pagebtnwht: #f3f2f2;
    --pagebtnborder: #eeeeee;
    --white: #fff;
    --articleheader: #d37755;
    --ltgryfont: #7e7d7d;

}
body {
    min-height: 100vh;
    background-color: var(--main);
    
}

header {
    border-bottom: 1px solid var(--border);
    background-color: var(--header);
    width: 100%;
    top: 0;
    height: 61px;
}

.top-bar {
    width: 80%;
    top: 0;
    height: 61px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    display: inline-block;
    position: relative;
    justify-content: space-between;
    margin-left: 0;
    padding-top: 1px;
    background-color: var(--header);
}
.mobile-menu {
    display: none;
}
/* Change font-weight to 400, bold */
.navbar > a {
    text-decoration: none;
    color: var(--navfont);
    font-family: "Lato", sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: bold;
    letter-spacing: 1px;
    padding-right: 10px;
     
}

.mobile-dropdown {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #444444;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 3.0s ease-in-out;
}
.social-icons {
    display: flex;
    
    
    text-decoration: none;
    margin-right: 0;
    font-size: 13px;
    color: var(--icons);
    transition: 0.3s;
    position: relative;
}
.social-icons:hover {
    color: #be6748;
}
.social-icons > a:hover {
    background-position: 0;
}
.social-icons > .fa-brands.fa-twitter {
    margin-left: 18px;
}
.social-icons > .fa-brands.fa-instagram {
    margin-left: 13px;
}
.social-icons > .fa-brands.fa-pinterest {
    margin-left: 15px;
}
.social-icons > .fa-brands.fa-google-plus-g {
    margin-left: 13px;
}
.social-icons > .fa-solid.fa-magnifying-glass {
    margin-left: 20px;
}
.nav1 {
    align-content: center;
}



/* ARTICLE IMAGES*/ 
/*
.image-line > img {
    max-height: 181px;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    transition: 0.1s ease-in-out;
} */
.ryan-teal {
    max-height: 472px;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}
.rocks {
    max-height: 472px;
    width: 100%;
    object-fit: cover;
    object-position: center 25%;
}
.conrad {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center top;
}
.bobross {
    max-height: 474px;
    width: 100%;
    object-position: top center;
    object-fit: cover;
}

main {
    display: flex;
    width: 100%;
}

/* ARTICLES */

.article-blocks {
    display: flex;
    float: left;
    flex-direction: column;
    width: 52.2%;
    padding: 0;
    margin-left: 150px;
    margin-top: 49px;
    margin-bottom: 0px;
    border-radius: 1px;
    list-style-type: none;
}
.article1 {
    height: 923px;
    margin-bottom: 46px;
    background-color: var(--white);
    border: 1px solid var(--border);
}
.article2 {
    height: 925px;
    margin-bottom: 47px;
    background-color: var(--white);
    border: 1px solid var(--border);
}
.article3 {
    height: 951px;
    margin-bottom: 48px;
    background-color: var(--white);
    border: 1px solid var(--border);
}
.article4 {
    height: 921px;
    background-color: var(--white);
    border: 1px solid var(--border);
    margin-bottom: 48px;
}
.article-content {
    height: 100%;

}
.article-content > p {
    display: flex;
    font-family: "Lato";
    color: #7d7d7d;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 15px;
    margin-left: 39px;
    margin-right: 39px;
    height: 149px;
}
.article-button {
    display: flex;
    position: relative;
    color: var(--articleheader);
    border: 1px solid var(--articleheader);
    padding: 11px 18px;
    margin: auto;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    background-color: var(--white);
    transition: all 250ms ease;
    padding: 10px 18px 12px 18px;
    font-family: "Lato";
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bolder;
}
.article-button:hover {
    background-color: var(--pagebtnsel);
    color: var(--white);
}

.by-and-icons {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--border);
    padding-top: 18px;
    margin-top: 40px;
    margin-left: 39px;
    margin-right: 39px;
    list-style-type: none;
    padding-left: 0;
    
}

.name-date {
    font-family: "Lato";
    font-size: 14px;
    color: #787878;
    margin-top: 1px;
}
.social-icons-article {
    display: flex;
    align-items: center;
    color: #c2c2c2;
    padding-left: 0;
    padding-top: 5px;
    letter-spacing: 0.5px;
}
.social-icons-article > .fa-brands.fa-twitter {
    margin-left: 15px;
}
.social-icons-article > .fa-brands.fa-instagram {
    margin-left: 15px;
}
.social-icons-article > .fa-brands.fa-pinterest {
    margin-left: 16px;
}
.social-icons-article > .fa-brands.fa-google-plus-g {
    margin-left: 15px;
}

/* SIDE BLOCKS */
.side-blocks {
    float: left;
    flex-direction: column;
    list-style-type: none;
    width: 25%;
    padding: 0;
    margin-left: 28px;
    margin-top: 49px;
    margin-bottom: 0px;
    border-radius: 1px;

}
.side1 {
    height: 546px;
    width: 100%;
    margin-bottom: 38px;
    background-color: var(--white);
    border: 1px solid var(--border);
    position: relative;
}
.side1 > h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 3px;
    margin-bottom: 0;
    color: var(--navfont);
    
}
.side1 > p {
    display: flex;
    justify-content: center;
    font-family: "Lato";
    color: var(--ltgryfont);
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 20px;
    height: 120px;
    text-align: center;
    width: 100%;
}
.side2 {
    height: 987px;
    margin-bottom: 38px;
    background-color: var(--white);
    border: 1px solid var(--border);
}
.side2 > h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 33px;
    margin-bottom: 0;
    color: var(--navfont);
}
.ricky {
    margin: auto;
    min-width: 80%;
    height: 200px;
    margin: 30px 0 0 30px;
}
.side2first {
    width: 80%;
    margin-left: 30px;
    border-bottom: 1px solid var(--border);
}
.side2first > h3 {
    display: flex;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 11px;
    color: var(--navfont);
    margin-bottom: 0;
    font-stretch: semi-condensed;
}
.side2first > h4 {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    color: #787878;
    margin-top: 14px;
}
.lakeview {
    width: 80%;
    height: 200px;
    margin-left: 30px;
    border-bottom: 1px solid #e8e8e8;
    margin-top: 19px;
    
}
.side2second {
    width: 100%;
    margin-left: 30px;
    border-bottom: 1px solid var(--border);
}
.side2second > h3 {
    display: flex;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 10px;
    color: var(--navfont);
    margin-bottom: 0;
    font-stretch: semi-condensed;
}
.side2second > h4 {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    color: #787878;
    margin-top: 15px;
}
.pheobe {
    width: 80%;
    height: 200px;
    margin-left: 30px;
    margin-top: 19px;
}
.side2third {
    width: auto;
    margin-left: 30px;
}
.side2third > h3 {
    display: flex;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-top: 12px;
    color: var(--navfont);
    margin-bottom: 0;
    font-stretch: semi-condensed;
    font-size-adjust: 0.5;
}
.side2third > h4 {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    color: #7e7d7d;
    margin-top: 13px;
}
.side3 {
    height: 516px;
    margin-bottom: 38px;
    background-color: var(--white);
    border: 1px solid var(--border);
}
.side3 > h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.6px;
    margin-top: 31px;
    margin-bottom: 0;
    margin-left: 2px;
    color: var(--navfont);
}
.side3first {
    width: 80%;
    height: 93px;
    margin-top: 26px;
    margin-left: 30px;
    border-bottom: 1px solid var(--border);
    position: relative;
}
.side3first > img {
    position: absolute;
    width: 103px;
    height: 76px;
    margin-top: 2px;
}
.side3first > h3 {
    display: flex;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 2px;
    margin-left: 118px;
    color: var(--navfont);
    margin-bottom: 0;
    font-stretch: semi-condensed;
    font-size-adjust: 0.5;
    position: absolute;
}
.side3first > h4 {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    color: #7e7d7d;
    margin-top: 28px;
    margin-left: 118px;
    position: absolute;
}
.side3second {
    width: 80%;
    height: 93px;
    margin-top: 14px;
    margin-left: 30px;
    border-bottom: 1px solid #e8e8e8;
    position: relative;
}
.side3second > img {
    position: absolute;
    width: 103px;
    height: 76px;
    margin-top: 1px;
}
.side3second > h3 {
    display: flex;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 1px;
    margin-left: 118px;
    color: var(--navfont);
    margin-bottom: 0;
    font-stretch: semi-condensed;
    font-size-adjust: 0.5;
    position: absolute;
}
.side3second > h4 {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    color: #7e7d7d;
    margin-top: 28px;
    margin-left: 118px;
    position: absolute;
}
.side3third {
    width: 80%;
    height: 92px;
    margin-top: 14px;
    margin-left: 30px;
    border-bottom: 1px solid var(--border);
    position: relative;
}
.side3third > img {
    position: absolute;
    width: 103px;
    height: 76px;
    margin-top: -4px;
}
.side3third > h3 {
    display: flex;
    width: 100%;
    font-family: "Oswald";
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 2px;
    margin-left: 118px;
    color: var(--navfont);
    margin-bottom: 0;
    font-stretch: semi-condensed;
    font-size-adjust: 0.5;
    position: absolute;
    font-weight: 500;
}
.side3third > h4 {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    color: #7e7d7d;
    margin-top: 28px;
    margin-left: 118px;
    position: absolute;
}
.side3fourth {
    width: 80%;
    height: 92px;
    margin-top: 14px;
    margin-left: 30px;
    position: relative;
}
.side3fourth > img {
    position: absolute;
    width: 103px;
    height: 76px;
}
.side3fourth > h3 {
    display: flex;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 1px;
    margin-left: 118px;
    color: var(--navfont);
    margin-bottom: 0;
    font-stretch: semi-condensed;
    font-size-adjust: 0.5;
    position: absolute;
}
.side3fourth > h4 {
    font-family: "Lato";
    font-size: 14px;
    font-weight: 200;
    color: #7e7d7d;
    margin-top: 28px;
    margin-left: 118px;
    position: absolute;
}
.side4 {
    min-height: 576px;
    background-color: var(--white);
    margin-bottom: 48px;
    border: 1px solid var(--border);
}
.side4 > h2 > a {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 0;
    color: var(--navfont);
    text-decoration: none;
    transition: 0.3s;
}
.side4one {
    width: 83.6%;
    margin: 25px 8.6% 0 8.6%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.side4one > a {
    max-width: 145px;
    max-height: 145px;
    margin-bottom: 11px;
}
.side4one > a > img {
    width: 145px;
    height: 145px;
}
.social-icons-sidelist {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin-top: 4px;
    margin-top: 0px;
    width: 98%;
}
.social-icons-side > a {
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 14px;
    margin: 0 5px 0 4px;
    padding: 6;
    text-decoration: none;
    color: #a7a7a7;
    border: 1px solid #ececec;
    border-radius: 100%;
    
    
}
/* SIDE BLOCKS IMAGES */
.coverpic {
    max-height: 182px;
    width: 100%;
    z-index: 10;
    position: absolute;
}
.profile-box {
    width: 100%;
    height: 298px;
}
.profilecircle {
    height: 181px;
    width: 50%;
    z-index: 20;
    border: 7px solid var(--white);
    position: absolute;
    margin-top: 98px;
    border-radius: 100%;
    margin-left: 23%;
}

/*HEADINGS*/

.heading-small {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Lato";
    color: var(--articleheader);
    font-size: 11.2px;
    letter-spacing: 0.8px;
    margin-top: 42px;
    margin-bottom: 13px;
}
.heading-large {
    display: flex;
    color: var(--navfont);
    justify-content: center;
    width: 100%;
    font-family: "Oswald";
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top: 6px;
    margin-bottom: 0;
}
/* PAGE BUTTONS */

.page-buttons {
    display: flex;
    margin-left: 149px;
    margin-top: 0px;
    height: 36px;
}
.page1:hover {
    background-color: #9e462b;
    color: var(--white);
    cursor: pointer;
}
.page2:hover {
    background-color: #ca5c3b;
    color: var(--white);
    cursor: pointer;
}
.page3:hover {
    background-color: #ca5c3b;
    color: var(--white);
    cursor: pointer;
}
.page4:hover {
    background-color: #ca5c3b;
    color: var(--white);
    cursor: pointer;
}
.pages:hover {
    background-color: #ca5c3b;
    color: var(--white);
    cursor: pointer;
}

.page1 {
    background-color: var(--white);
    height: 100%;
    width: 34px;
    border: 1px solid var(--pagebtnborder);
    color: var(--navfont);
    font-family: "Oswald";
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    
}
.page2 {
    background-color: var(--white);
    height: 100%;
    width: 34px;
    border: 1px solid var(--pagebtnborder);
    color: var(--navfont);
    font-family: "Oswald";
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    margin-left: 5px;
}
.page3 {
    background-color: var(--white);
    height: 100%;
    width: 34px;
    border: 1px solid var(--pagebtnborder);
    color: var(--navfont);
    font-family: "Oswald";
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    margin-left: 5px;
}
.page4 {
    background-color: var(--white);
    height: 100%;
    width: 34px;
    border: 1px solid var(--pagebtnborder);
    color: var(--navfont);
    font-family: "Oswald";
    font-size: 15px;
    font-weight: 400;
    transition: 0.3s;
    margin-left: 5px;
    margin-bottom: 1px;
}
.pages {
    background-color: var(--white);
    height: 100%;
    width: 40px;
    border: 1px solid var(--pagebtnborder);
    color: var(--navfont);
    font-family: "Oswald";
    font-size: 17px;
    font-weight: 400;
    transition: 0.3s;
    margin-left: 5px;
}

/* FOOTER */

footer {
    position: relative;
    padding: 0;
    margin-bottom: 0;
    margin-top: 86px;
    height: 182px;
    width: 100%;
    background-color:  var(--white);
    border-top: 1px solid var(--pagebtnborder);
}
.footer1 {
    font-family: "Oswald";
    font-size: 18.5px;
    text-align: center;
    align-content: center;
    font-weight: 425;
    letter-spacing: 0.2px;
    width: 100%;
    height: 45px;
    padding-top: 26px;
    color: var(--navfont);
    
     
}
.footer1 > a {
    font-family: "Oswald";
    font-size: 18.5px;
    text-align: center;
    align-content: center;
    font-weight: 425;
    letter-spacing: 0.2px;
    width: 100%;
    height: 90px;
    padding-top: 26px;
    color: var(--navfont);
    transition: 0.3s;
    text-decoration: none;
}
.footer1 > a:hover {
    color: #be6748;
    cursor: pointer;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    height: 100%;
    width: 100%;
    flex-basis: content;
}
.image-wrapper {
    position: relative;
    overflow: hidden;
}
.image-wrapper > img {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}
.image-wrapper > .fade-content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    padding: 1rem;
    background: rgba(202, 92, 60, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-wrapper:hover > .blurpic {
    filter: blur(1px);
}
.image-wrapper > .fade-content {
    transition: 0.3s;
    opacity: 0;
}

.image-wrapper:hover > .fade-content {
    opacity: 1;
    cursor: pointer;
    color: var(--white);
    font-family: "Lato";
    font-size: 14px;
}
.footer2 {
    font-family: "Lato";
    font-size: 13px;
    text-align: center;
    align-content: center;
    font-weight: 425;
    letter-spacing: 0.45px;
    width: 100%;
    height: 100px;
    padding-top: 26px;
    color: #797878;
    background-color: #222;
}

/* MEDIA QUERIES ==MAX WIDTH 768PX== */

@media (max-width: 768px) {
main {
        display: flex;
        flex-direction: column;
}
.navbar {
    width: 100%;
    margin: 0;
}


header {
    border-bottom: 1px solid var(--border);
    background-color: var(--header);
    width: 100%;
    height: 52px;
    display: flex;
    justify-content: flex-end;
}
header > .social-icons {
    display: none;
}

.side-blocks {
    display: flex;
    flex-direction: column;
    position: center;
    list-style-type: none;
    width: 90%;
    padding: 0;
    margin: auto;
    margin-top: 49px;
    margin-bottom: 0px;
    border-radius: 1px;
    

}
.article-blocks {
    display: flex;
    position: center;
    flex-direction: column;
    width: 90%;
    padding: 0;
    margin: auto;
    margin-top: 49px;
    margin-bottom: 0px;
    border-radius: 1px;
    list-style-type: none;
}
}

/* ==MAX WIDTH 1044PX== */

@media (max-width: 1044px) {

    .main {
        width: 95%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .side-blocks {
    width: 100%;
}

    .article-blocks {
        width: 100%;
    }

}

